*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* BODY */
body{
    min-height:100vh;
    background:#f8f9fa;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* BOX */
.form-box{
    width:500px;
    background:#ffffff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* TITRE */
h1{
    text-align:center;
    margin-bottom:25px;
    color:#212529;
}

/* INPUTS */
input, select, textarea{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:16px;
    border-radius:10px;
    border:1px solid #ced4da;
    outline:none;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#adb5bd;
}

/* BUTTON */
button{
    width:100%;
    background:#adb5bd;
    color:#fff;
    padding:14px;
    border:none;
    border-radius:50px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#868e96;
}

/* TEXT CENTER */
.success{
    color:green;
    margin-bottom:15px;
    text-align:center;
}
    
